<!DOCTYPE HTML>
<html>
	<head>
		<title>Gaming Center Showroom Template</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="src/style.css" />
		<link rel="stylesheet" href="src/lib-css/video-js.min.css" />
	</head>
	<body onload="main();">
		<div id="root">No connnection to master server<div>
	
		<!-- Libs -->
		<script src="src/lib/jquery.min.js"></script>
		<script src="src/lib/video.min.js"></script>
	
		<!-- Scripts -->
		<script src="src/script.js"></script>
	
		<!-- Lang binds -->
		<script type="text/javascript" src="src/lib/sprintf.js"></script>
		<script type="text/javascript" src="src/lib/utils.js"></script>
		<script type="text/javascript" src="src/lib/events.js"></script>
		<script type="text/javascript" src="src/lib/lang_bind.js"></script>

	</body>
</html>