<video
    id="video-player"
    class="video-js"
    preload="auto"
    poster="res/img/video-poster.jpeg"
    data-setup='{}'>
</video>
<script>

(function(){
	var player = videojs('video-player');
	var videos;
	var videoIndex = 0;
	
	function playNext(){
		if(machineStatus.Status != "idling") {
			console.log("dispose player");
			player.dispose();
			return;
		}
		
		var index = videoIndex++%videos.length;
		var video = "res/videos/"+videos[index];
		player.src(video);

		player.ready(function() {
			player.play();
		});
	}
	
	player.on('ended', function() {
		playNext();
	});

	$.getJSON( "res/videos/list.json", function( data ) {
			videos = data;
			playNext();
	});
	
	function resizeVideo(){
		$("#video-player").css("height", window.innerHeight+"px");
	}
	
	window.onresize = function(event) {
		resizeVideo();
	};
	
	function checkStatus(){
		if(machineStatus.Status != "idling") {
			console.log("dispose player");
			player.dispose();
			return;
		}
		else setTimeout(checkStatus, 100);
	}
	setTimeout(checkStatus, 100);
	
	resizeVideo();
})();
</script>
<style>
#video-player{
	width:100%;
}
</style>