<div class="background-filler">
</div>
<div class="header-container">
 <div class="row">
    <div class="col-sm bindable">
      %c game%: %v playing_game%
	  </br>
	  %c time_left%: %v configured_playtime%
    </div>
    <div class="col-sm bindable">
      <h2>%c game_start_important_notes%</h2>
    </div>
    <div class="col-sm">
	  <h2 id="stop-btn-msg" class="bindable" style="color: red; display:none">%c release_red_button%</h2>
	  <h2 id="start-btn-msg" class="bindable" style="display:none">%c press_green_button%</h2>
	  <h2 id="starting-msg" class="bindable" style="display:none">%c starting%...</h2>
    </div>
  </div>
</div>
<div style="font-size: 1rem;column-count: 3;column-gap: 5rem;padding: 2rem 3rem;" class="bindable page-info-container">
%c game_instruction_legal_states%
</div>

<script>
var _prepairing_interval_id;
(function(){

if(_prepairing_interval_id) clearInterval(_prepairing_interval_id);

var stop = $("#stop-btn-msg");
var start = $("#start-btn-msg");
var start_msg = $("#starting-msg");

_prepairing_interval_id = setInterval(function(){
	if(machineStatus.StopButton){
		stop.css("display", "unset");
		start.css("display", "none");
	}
	else{
		stop.css("display", "none");
		
		if(!machineStatus.StartButton){
			start.css("display", "unset");
		}
		else{
			start.css("display", "none");
			start_msg.css("display", "unset");
		}
	}
	
}, 100);

})();
</script>
